/*Media query for smartphone */

@media (max-width: 900px) { 
  #wolf, #chatterbox, #family {margin-bottom: 20px; }}

/*
@media (max-width: 900px) {
.carousel {width: 50%; height: auto;}}
*/


nav {background-color: navy;
font-size: 20px;}

/*dropdown*/


.mydropdown {
    position: relative;
    display: inline-block;
}

.mydropdown-content {
    display: none;
    position: absolute;
    color: white;
   
}

.mydropdown-content a {
   color: white;
 display: block;}
  
  

.children:hover .mydropdown-content {display: block; background-color: purple; }

/*end dropdwon*/

#heading h1 {font-family: 'Abril Fatface', cursive;
font-size: 64px;}




#mission {
  
  height: 90px;
  display: inline;
  text-align: center;
}
#mission h1 {font-family: 'Abril Fatface', cursive;
font-size: 40px;}

#Packages h1 {font-family: 'Abril Fatface', cursive;
font-size: 40px;}

.card-body h4 {font-family: 'Abril Fatface', cursive;
font-size: 30px;}


/*.carousel img {width: 50%; height: auto;} */
.carousel {position: relative;}
/*margin-top: -100px;
z-index: 1;}*/



.card-img-top {height:160px;}


/*Modal*/
.modal-body p {color: black;}
.modal-footer a {color: white;}

.modal-dialog .modal-content {width: 70%;}
/*Footer*/
footer a, p{color: white;}
footer img{max-width: 100%;}

/*Accordion*/
.card p {color: black;}



/*
FAQ*/
.accordion h4 {font-size: 18px;}

#accordionExample h4 {font-family: 'Abril Fatface', cursive;
}


/*Lonewolf.html*/

/*#lonewolfplan */
#lonewolf h1, h2 {font-family: 'Abril Fatface', cursive;}

.Plan1, .Plan2, .Plan3, .Plan4 {border-style: solid; margin: 10px; border-color: navy;}

.info {margin-top: 10px;}
.info h4 {font-size: 40px;}
.lonewolfplan img {max-width: 100%; }
.lonewolfplan .btn-outline-dark:hover {background-color: navy;}
/*.card-body {padding: 0.5rem;}*/

/*Chatterbox*/


.box1 p {color: black;}
.box1, .box2 {border-style: solid; margin: 10px;padding: 5px;}


.chatterboxplan h1,h2 {font-family: 'Abril Fatface', cursive;}
#myForm1, #myForm2 p {font-weight:bold; padding-left: 7px; padding-right: 7px;}
/*Footer*/


.facebook button{background-color: navy;}

.Instagram button{background-color: red;} 



* p{
  color: black;
}

.accordion {
  border: 6px solid red;
} 

#monthly{
  font-size: 20px;
}
