
/*.carousel img {width: 50%; height: auto;} */

.card-img-top {
  height: 160px;
}


/*Modal*/
.modal-body p {
  color: black;
}

.modal-footer a {
  color: #f4c100;
}

.modal-dialog .modal-content {
  width: 70%;
}

/*Footer*/
footer a,
p {
  color: white;
}

footer img {
  max-width: 100%;
}

/*Accordion*/
.card p {
  color: black;
}



/*
FAQ*/
.accordion h4 {
  font-size: 18px;
}

#accordionExample h4 {
  font-family: 'Questrial', sans-serif;
}

#FQ h1 {color: black;}


#FQ button h4 {color: black;}

/*Lonewolf.html*/

/*#lonewolfplan */
#lonewolf h1,
h2 {
  font-family: 'Questrial', sans-serif;
}

.Plan1,
.Plan2,
.Plan3,
.Plan4 {
  margin: 10px;
}

.info {
  margin-top: 10px;
}

.info h4 {
  font-size: 40px;
}

.lonewolfplan img {
  max-width: 100%;
}

.lonewolfplan .btn-outline-dark:hover {
  background-color: rgb(219,173,0);
}

/* ////////////lonewolf-page///////// */

.lonewolf_header{
  background-color: #f4c100;
  text-align: center;
  padding: 120px;
}
.lonewolf_header h1{
  padding-bottom: 5px;
} 
.lonewolf_header p {
  font-size: 20px;
}
.lonewolfplan{
  padding: 30px;

}
.lonewolfplan img {
  border-radius: 60%

}


.Plan2,
.Plan4 {
  background-color: #f4c100;
}

/*.card-body {padding: 0.5rem;}*/

/* ///////////////////////*Chatterbox////////////////////////////// */

.chatterboxplan {
  background-color: #f4c100;
  text-align: center;
  padding: 120px;
}
.chatterboxplan h1{
  padding-bottom: 5px;
}
.chatterboxplan p {
  font-size: 20px;
}



.box1,
.box2 {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-top: 30px;
  
}
.box1 {
  margin: 100px;
  margin-left: 150px;
  margin-right: 0px;
}
.box2 {
  margin-top: 100px;
  margin-left:0px;

}

.chatterboxplan h1,
h2 {
  font-family: 'Questrial', sans-serif;
}

.chatterboxplan {background-color: #ffce1d;}

#myForm1,
#myForm2 p {
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
}
/* ///////////////familyplan//////////////////////// */

.familyplan {
  background-color: #f4c100;
  text-align: center;
  padding: 120px;
}

.familyplan h1{
  padding-bottom: 5px;
}
.familyplan p {
  font-size: 20px;
}
.familytitle {
  margin: 30px;
  text-align: center;
}
.card p {padding: 4px; margin: 4px;}
.card h3 {padding: 14px; margin: 4px;text-align: center;}


/*Footer*/


.facebook button {
  background-color: navy;
}

.Instagram button {
  background-color: red;
}



* p {
  color: black;
}



#monthly {
  font-size: 20px;
}


/* **********************************CSS FOR INDEX************ */


/* ///////////////////* Carousel images  /////////// */
.carousel_images img {
  width: 1000px;
  height: 700px;
  object-fit: cover;
  background-color:rgba(0, 0, 0, 0.2);
  filter: grayscale(0.9)
}

/* /
.lonewolfplan h3 {font-size: 24px;}
.lonewolfplan button {padding: 2px; }
.lonewolfplan .row {margin-bottom: 30px; }

.lonewolfplan .col-lg-5 {border-style: solid;  border-color: navy;}
/*
.info {margin-top: 10px;}
.info h4 {font-size: 35px;}
.lonewolfplan img {max-width: 100%; z-index: 1;}
.lonewolfplan .btn-outline-dark:hover {background-color: navy;}

/*Lonewolf plan headings*/


.carousel-caption{
  margin-bottom: 280px;
  padding: 2px 5px;
  border: 8px solid white;

}





/*Not for you*/
#bottom h1 {font-family: 'Questrial', sans-serif;}


#bottom .btn-primary {background-color: #ffce1d; border-color: #ffce1d; color: black;  margin: 20px; font-weight: bold; font-size: 20px;}

#bottom {margin-bottom: 35px;}

/*Footer */

/* ////////////////*dropdown/////////////// */

.mydropdown {
  position: relative;
  display: inline-block;
}

.mydropdown-content {
  display: none;
  position: absolute;
  color: white;
  border-style: solid;

}

.mydropdown-content a {
  color: black;
  display: block;
}



.children:hover .mydropdown-content {
  display: block;
  background-color: #ffce1d;
  padding: 14px 14px;
}


#heading h1 {
  font-size: 64px;
}



/* ///////////////FAQ/////////////////////////// */



.card-body h4 {
  font-size: 30px;
}



/*Media query for smartphone */

@media (max-width: 900px) {

  #wolf,
  #chatterbox,
  #family {
    margin-bottom: 20px;
  }
}

/*
@media (max-width: 900px) {
.carousel {width: 50%; height: auto;}}
*/
#mission {
  background-color: #ffce1d;
  background-color: ;
  color: white;
  height: 380px;
  padding-top:100px;
  font-family: 'Questrial', sans-serif;
}
#Packages{
  font-size: 40px;
  padding-left: 250px;
  margin:30px;
  text-align: left;

}

/* ////model/// */
.modal-body1 {
  max-height: 1000px;
}

#FQ{
  margin: 100px;
  font-family: 'Questrial', sans-serif;

}
#footer{
  background-color: #ffce1d;
 }
 #footer a {color: black;}
.accordion h4{
  color: #ffc71de4;
}